services:
  - type: web
    name: entertainment-tadka-bot
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: BOT_TOKEN
        sync: false
        value: your_bot_token_here
      - key: CHANNELS
        sync: false
        value: "-1003251791991,-1002337293281,-1003181705395,-1002831605258,-1002964109368,-1003614546520"
      - key: REQUEST_GROUP_ID
        sync: false
        value: "-100XXXXXXXXXX"
      - key: ADMIN_ID
        sync: false
        value: "123456789"
    healthCheckPath: /
    autoDeploy: true
    buildCommand: ""
    startCommand: ""
