services:
  - type: web
    name: telegram-movie-bot
    env: docker
    dockerfilePath: ./Dockerfile
    plan: free
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: REQUEST_GROUP_ID
        sync: false
      - key: CHANNELS
        sync: false
    healthCheckPath: /
    autoDeploy: true
